.pentagon__wrapper {
  margin: 48px auto auto;
  position: relative;
  width: 475px;
  height: 475px;
}

.pentagon {
  width: 345px;
  height: 345px;
  position: absolute;
  display: flex;
  justify-content: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spock,
.scissors,
.lizard,
.rock,
.paper {
  cursor: pointer;
  background-size: 40%;
  transform: rotate(-4deg);
  border: 18px solid;
}

.paper {
  right: 0;
  top: 22%;
  border: 18px solid #4664f4;
  background: url("../images/icon-paper.svg") no-repeat center #ececec;
}

.rock {
  bottom: 0;
  right: 10%;
  border: 18px solid #db2e4d;
  background: url("../images/icon-rock.svg") no-repeat center #ececec;
}

.lizard {
  bottom: 0;
  left: 10%;
  border: 18px solid #834ee3;
  background: url("../images/icon-lizard.svg") no-repeat center #ececec;
}

.spock {
  top: 25%;
  left: 0;
  border: 18px solid #3fb7cd;
  background: url("../images/icon-spock.svg") no-repeat center #ececec;
}

.scissors {
  top: 2%;
  left: 34%;
  right: 50%;
  border: 18px solid #eb9f0e;
  background: url("../images/icon-scissors.svg") no-repeat center #ececec;
}
